@model UpdateUserViewModel


<div class="container mt-5">
    <h2 class="text-center mb-4">Profilimi Düzenle</h2>
    <form action="/Admin/User/EditProfile" method="post">
        <input type="hidden" asp-for="Id"/>
        <div class="mb-3">
            <label asp-for="UserName" class="form-label">Kullanıcı Adı</label>
            <input type="text" class="form-control"  asp-for="UserName" required>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input type="text" class="form-control" asp-for="Email" required>
        </div>
        <div class="mb-3">
            <label asp-for="Job" class="form-label">Meslek</label>
            <input type="text" class="form-control" asp-for="Job" required>
        </div>
       
        <div class="mb-3">
            <label asp-for="PhoneNumber" class="form-label">Telefon Numarası</label>
            <input type="text" class="form-control" asp-for="PhoneNumber" required>
        </div>
        <div class="mb-3">
            <label asp-for="CurrentPassword" class="form-label">Eski Parola</label>
            <input type="text" class="form-control" type="password" asp-for="CurrentPassword" required>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Parola</label>
            <input type="text" class="form-control" type="password" asp-for="Password" required>
        </div>
        <div class="mb-3">
            <label asp-for="PasswordCheck" class="form-label">Parola Tekrar:</label>
            <input type="text" class="form-control" type="password" asp-for="PasswordCheck" required>
        </div>
       
        <button type="submit" class="btn btn-primary">Değişiklikleri Kaydet</button>
    </form>
</div>

