@model List<ResultChatViewModel>
@{
    
}
<div class="container">
    <h1 class="text-center mt-2"><b>Mesaj Kutusu</b></h1>
    <a class="btn btn-success mb-3" href="/Admin/Chat/SendMessage">Mesaj Gönder</a>
    <!-- Chat List -->
    @foreach (var item in Model)
    {
        
    <div class="list-group">
        <!-- Chat Item -->
        <a href="/Admin/Chat/GetChat/@item.ChatId" class="list-group-item list-group-item-action" style="background-color: #fff; border-color: #dee2e6; cursor: pointer;">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@(item.UserId1!=ViewBag.UserId ? item.User1.userName : item.User2.userName)</h5>
                <small>Last Message Time</small>
            </div>
            <p class="mb-1">@item.Messages[item.Messages.Count-1].MessageContent</p>
        </a>
        <!-- Add more chat items as needed -->
    </div>
    }
</div>